.meterdata__functions button{
    font-size: 0.9rem;
    font-weight: 500;
}

.meterdata__table{
    height: 68vh;
}

.table__user td{
    height: 3rem;
}

.meterdata__users h3{
    margin-bottom: 0.5rem;
    margin-left: 0.1rem;
}

.metertable__users .pagination{
    margin-top: 0;
}