nav{
    background-color: #D7E6C5;
    width: 100vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.navbar{
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.navbar__logo span{
    font-size: 1.3rem;
    font-weight: 600;
}

.navbar__content{
    display: flex;
    gap: 1rem;
}

nav i{
    font-size: 1.3rem;
    color:black
}