nav {
  background-color: #d7e6c5;
  width: 100vw;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.navbar__logo span {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar__content {
  display: flex;
  gap: 1rem;
}

nav i {
  font-size: 1.3rem;
  color: black;
}

.logout {
  cursor: pointer;
}

nav .usercard {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* top: 3.5rem; */
  top: 6%;
  right: 6%;
}

.profile:hover .usercard{
  visibility: visible;
  cursor: pointer;
  /* display: block; */
}
