.dashboard__kpi {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 1.5rem;
}

.kpi__card {
  width: 11.8rem;
  border: 1px solid #d7e6c5;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #d7e6c5;
}

.kpi__card h3 {
  height: 3rem;
  p {
    font-size: 0.8rem;
    color: rgb(0, 172, 9);
  }
}

.kpi__card p {
  font-size: 1rem;
  font-weight: 500;
}

.kpi__card select {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #d7e6c5;
  border: 1px solid #d7e6c5;
  outline: none;
}

.dashboard__charts {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
}

.charts__barchart {
  padding: 0.5rem;
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #d7e6c5;
  border-radius: 4px;
  background-color: #d7e6c5;
}

.charts__linechart {
  padding: 0.5rem;
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border: 1px solid #d7e6c5;
  border-radius: 4px;
  background-color: #d7e6c5;
}
